.container {
  background: #ffffff;
  width: 450px;
  min-height: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 5px;
  -webkit-box-shadow: -1px 2px 28px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 28px -15px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 28px -15px rgba(0, 0, 0, 0.75);
  border-radius: 12px;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  .title {
    padding: 4px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4f4f4f;
  }

  .text {
    color: #828282;
    font-size: 10px;
    padding: 10px;
  }
  
}
.or {
    display: block;
    padding:10px
}

