.loading {
  width: 400px;
  margin: auto;
  padding: 20px;
  margin-top: 150px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  p {
    text-align: left;
    padding: 10px 2px;
  }

  .loading-bar {
    width: 98%;
    height: 6px;
    background: #fff;
    margin: auto;
    transition: width 0.5s;
    position: relative;
    background: #f2f2f2;
    border-radius: 8px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      width: 100px;
      height:5px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background: #2f80ed;
      border-radius: 10px;
      animation: move 3s linear infinite;

      @keyframes move {

        0% {
          left: -30%;
        }

        100% {
          left: 100%;
        }
      }
    }
  }
}
