.form-area {
  input {
    display: none;
  }

  label {
    width: 338px;
    border: 2px dashed #97bef4;
    background: #f6f8fb;
    padding: 3.5em 1em;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
  }
  
}
