
.custom-file {
  display: none;
}

.custom-file-btn {
  display: block;
  width: 101px;
  padding: 5px;
  margin: auto;
  background: #2f80ed;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
